<h1> Workout In Progress</h1>

<h2> Exercise Name:
Reps Counted:
    good_form?:
    Average time between intervals: </h2>

<li> <%= link_to 'Back to Menu', dashboard_path(current_user.id), method: :get %></li>
<li> <%= link_to 'End Workout', training_path(current_user.id), method: :put %></li>