<h1> Workout In Progress</h1>

<h2> Exercise Name:
Reps Counted:
    good_form?:
    Average time between intervals: </h2>


<li> <%= link_to 'Back', user_path(current_user), method: :get) %></li>
<li> <%= link_to 'End Workout', sessions_path(current_user), method: :post) %></li>