<div class="col-xs-12 navbar-fixed-bottom text-center">
	<div class="menu col-xs-12">
		<div class="nav-item col-xs-4">
			<%= link_to(dashboard_path(current_user)) do %>
				<i class="fa fa-calendar" aria-hidden="true"></i><br class="clr" /><br />
				<span class="nav-link">Calendar</span>
			<% end %>
		</div>
		<div class="nav-item col-xs-4">
			<%= link_to(performance_path) do %>
				<i class="fa fa-area-chart" aria-hidden="true"></i><br class="clr" /><br />
				<span class="nav-link">Performance</span>
			<% end %>
		</div>
		<div class="nav-item col-xs-4">
			<%= link_to(analytics_path) do %>
				<i class="fa fa-tachometer" aria-hidden="true"></i><br class="clr" /><br />
				<span class="nav-link">Analytics</span>
			<% end %>
		</div>
	</div>
</div>