<div class="about-us col-xs-12 col-sm-8 col-sm-offset-2 text-center">
	<hr class="short-hr center-block" />
	<h2>About EZ Fit</h2>
	<hr class="short-hr center-block" />
	<div class="card">
		<h3>Realizing The Problem</h3>
		<hr class="short-hr center-block" />
		<p>EZ-Fit offers the solution to a specific problem in the fitness community that has yet to be effectively solved – fitness tracking. We strives to provide you with a solution that gives the gym member an easy-to-use fitness tracking platform that produces actionable analytics.</p>
	</div>
	<div class="card">
		<h3>Our Mission</h3>
		<hr class="short-hr center-block" />
		<p>Our mission is to provide fitness facilities the technology, equipment and service to provide a completely automated workout tracking experience for its members. Our goal is to create a fitness tracking experience in which gym members can easily and clearly see their fitness progress so they can achieve their fitness goals.</p>
	</div>
	<div class="card">
		<h3>The Solution</h3>
		<hr class="short-hr center-block" />
		<p>With this fitness tracking solution, we fully intend to revolutionize the way the fitness community interprets fitness tracking.</p>
	</div>
</div>
<br class="clr" /><br /><br />
<%= render "partials/footer" %>