<div class="about-us col-xs-12 col-sm-8 col-sm-offset-2 text-center">
	<hr class="short-hr center-block" />
	<h2>About EZ Fit</h2>
	<hr class="short-hr center-block" />
	<div class="card">
		<h3>About Us</h3>
		<hr class="short-hr center-block" />
		<p>ezTRACK Fitness is a fitness technology startup that plans to introduce a new approach to fitness tracking.</p>
	</div>
	<div class="card">
		<h3>The Problem</h3>
		<hr class="short-hr center-block" />
		<p>It is way too difficult to track your fitness goals inside the gym. Fitness Tracking applications are too inconvenient, difficult to use, and provide you all the wrong fitness analytics. Fitness wearables are too bulky, uncomfortable, have short battery lives. In general, the market does not offer a good solution to tracking fitness analytics... until now.</p>
	</div>
	<div class="card">
		<h3>The Solution</h3>
		<hr class="short-hr center-block" />
		<p>We promise to give the you, the gym member, an easy-to-use fitness tracking platform that produces actionable analytics. Our plan is simple - your gym will do all the tracking for you!</p>
	</div>
	<div class="card">
		<h3>Our Mission</h3>
		<hr class="short-hr center-block" />
		<p>Our mission is to provide gyms the technology, equipment and service to provide a completely automated workout tracking experience for its members.</p>
		<p>Our goal is to create a fitness tracking experience in which gym members can easily and clearly see their fitness progress so they can achieve their fitness goals.</p>
	</div>
</div>
<br class="clr" /><br /><br />
<%= render "partials/footer" %>