<div class="col-xs-12">
	<div class="col-xs-12 col-sm-6 compare-one">
		<div class="workout-card col-xs-12 text-left">
			<h4 class="text-center card-header"><span class="previous-workout">Previous:</span> Biceps Workout</h4>
			<hr />
			<span class="card-category"><i class="glyphicon glyphicon-flash"></i> Total Exercises: <span class="category-result">5</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-signal"></i> Total Sets: <span class="category-result">16</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-heart"></i> Weight Lifted: <span class="category-result">1,230 lbs.</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-fire"></i> Calories Burned: <span class="category-result">201 Calories</span></span><br />			
			<hr />
			<span class="card-category">Date: <span class="category-result">8/12/17 - 4:00pm</span></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 compare-two">
		<div class="workout-card col-xs-12 text-left">
			<h4 class="text-center card-header"><span class="selected-workout">Selected:</span> Biceps</h4>
			<hr />
			<span class="card-category"><i class="glyphicon glyphicon-flash"></i> Total Exercises: <span class="category-result">9</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-signal"></i> Total Sets: <span class="category-result">18</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-heart"></i> Weight Lifted: <span class="category-result">1,540 lbs.</span></span><br />
			<span class="card-category"><i class="glyphicon glyphicon-fire"></i> Calories Burned: <span class="category-result">312 Calories</span></span><br />			
			<hr />
			<span class="card-category">Date: <span class="category-result">8/12/17 - 4:00pm</span></span>
		</div>
	</div>
</div>
<br class="clr" /><br /><br />
<div class="col-xs-12 suggested-workout-box text-center">
	<h4 class="text-center card-header"><span class="suggested-workout">Suggested Next:</span> Biceps Workout</h4>
	<hr />
	<span class="card-category"><i class="glyphicon glyphicon-flash"></i>Total Exercises You'll Perform: <span class="category-result">12</span></span><br />
	<span class="card-category"><i class="glyphicon glyphicon-signal"></i> Approximate Total Sets To Do: <span class="category-result">22</span></span><br />
	<span class="card-category"><i class="glyphicon glyphicon-heart"></i> Estimated Weight Lifted: <span class="category-result">1,950 lbs.</span></span><br />
	<span class="card-category"><i class="glyphicon glyphicon-fire"></i> Potential Calorie Burn: <span class="category-result">502 Calories</span></span><br />			
	<hr />
</div>
<br class="clr" /><br /><br />
<div class="col-xs-12 text-center">
<%= link_to "Back To Schedule", dashboard_path(current_user), class: "log-in-btn" %>
</div>