<div class="eztrack-home">
	<%= image_tag "eztrack_home.jpg", class: "img-responsive eztrack-img" %>
	<h1 class="topic-overlay">Fitness Tracking Made EZ</h1>
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup" class="list-overlay">
	<form action="https://eztrackfitness.us17.list-manage.com/subscribe/post?u=c21e16bd326e6c95f3361e322&amp;id=b428934160" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL">Want more information about EZ Track?</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c21e16bd326e6c95f3361e322_b428934160" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	</form>
	</div>
	<!--End mc_embed_signup-->
</div>
<br class="clr" />
<div class="about-area col-xs-12">
	<div class="quadrant1 col-sm-6">
		<h3 class="text-center problem">The Problem</h3>
		<p>Fitness facilities lack obscurity. They lack the ability to get new members in the door and retain them. In the end, they aren't innovating. At the same time, the fitness tracking market is saturated with wearable's & apps that are difficult to use.</p>
	</div>
	<div class="quadrant2 col-sm-6">
		<h3 class="text-center">How It Works: <span class="head-type">Fitness Centers</span></h3>
		<p>As the fitness facility,  equip your free-weight dumbbells with our beacon technology, retrofit your stationary equipment with our smartphone holders, and sign your members up with an EZTRACK account.</p>
	</div>
	<div class="quadrant3 col-sm-6">
		<h3 class="text-center solution">The Solution</h3>
		<p>Our solution is an all-inclusive, easy-to-use fitness tracking platform for fitness facilities to gain a competitive advantage and provide members the ability to track their fitness progress so they keep coming back to reach their fitness goals.</p>
	</div>
	<div class="quadrant4 col-sm-6">
		<h3 class="text-center">How It Works: <span class="head-type">Fitness Members</span></h3>
		<p>As the fitness member,  download the EZTRACK app on your smartphone, sign up, log in. Start the app, keep your smartphone near you or place it on the smartphone holder, grab a dumbbell and have a good workout! The app will connect with the beacon-equipped dumbbell and track your workouts automatically.</p>
	</div>
</div>
<br class="clr" />
<div class="footer-collect col-xs-12">
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup" class="list-overlay">
	<form action="https://eztrackfitness.us17.list-manage.com/subscribe/post?u=c21e16bd326e6c95f3361e322&amp;id=b428934160" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL" id="cta">Sign up below for EZ Track updates.</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c21e16bd326e6c95f3361e322_b428934160" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	</form>
	</div>
	<!--End mc_embed_signup-->
</div>
