<div class="hero-box">
	<div class="hero-text text-center">
		<h2>We're Utilizing iBeacons To Make Your Gym Smarter</h1>
		<h3>Fitness. Made. Smarter.</h2>
		<%= mail_to "seal.maisonet@gmail.com", "Contact Sales", subject: "I'm interested in making my gym/fitness center smart technology enabled", body: "Write your message here" %>
	</div>
</div>
<br class="clr" /><br />
<%= render "partials/footer" %>