<div class="hero-box">
	<div class="hero-text text-center">
		<h2>Fitness Tracking The EZ Way</h2>
		<%= mail_to "seal.maisonet@gmail.com", "Contact Sales", subject: "I'm interested in making my gym/fitness center smart technology enabled", body: "Write your message here" %>
	</div>
</div>
<br class="clr" />
<div class="features-box col-xs-12 text-center">
	<div class="feature col-xs-12 col-sm-6">
		<i class="fa fa-heartbeat" aria-hidden="true"></i>
		<br class="clr" /><br />
		<h4>Like A Strong Heart, Our Trackers Never Miss A Beat</h4>
	</div>
	<div class="feature col-xs-12 col-sm-6">
		<i class="fa fa-tachometer" aria-hidden="true"></i>
		<br class="clr" /><br />
		<h4>View Your Own Dashboard To View Progress</h4>
	</div>
</div>
<br class="clr" /><br /><br /><br />
<hr />
<%= render "partials/footer" %>