<div class="home-page_container col-xs-12">
	<div class="col-xs-12 col-sm-6">
		<h1>Where Your Fitness <br />Meets Technology</h1>
	</div>
	<div class="col-xs-12 col-sm-6">
		<iframe class="demo-video" width="530" height="300" src="https://www.youtube.com/embed/SrsHBjzt2E8" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<br class="clr" />
<div class="next-step-container col-xs-12 text-center">
	<h1>Join The Wait List</h1>
	<input class="email-capture" type="text" name="email" placeholder="Enter your e-mail address"></input>
</div>