<div class="col-xs-12 text-center">
	<h2 style="font-family: 'Ubuntu';">Workout Overview</h2>
</div>
<br class="clr" /><br />
<div class="display-holder col-xs-12">
	<div id="base" class="card-container col-xs-6">
	</div>
	<div class="stats-container col-xs-6 text-center center-block">
		<div class-"stat-bubble col-xs-12">
			<i class="fa fa-graph-bar"></i>
			<div class="stat-info text-center">
				<h4>Today's Exercises</h4>
				<span id="exercises"><%= @total_exercises %></span>
			</div>
		</div>
		<div class-"stat-bubble col-xs-12">
			<i class="fa fa-graphic-eq"></i>
			<div class="stat-info text-center">
				<h4>Today's Reps</h4>
				<span id="reps"><%= @total_reps %></span>
			</div>
		</div>
      <div class-"stat-bubble col-xs-12">
			<i class="fa fa-dumbbell"></i>
			<div class="stat-info text-center">
				<h4>Total Weight</h4>
				<span id="weight"><%= @total_weight %> Kg.</span>
			</div>
       </div>
   </div>
</div>
<div class="col-xs-12 text-center">
	<h4 style="font-family: 'Ubuntu';">Web Summit 2017</h4>
</div>
<script>
var total = 0;
function formatAMPM(date) {

  var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
  date.setTime( date.getTime() + date.getTimezoneOffset()*60*1000 )
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var days = date.getDate();
  var months = date.getMonth();
  var secs = date.getSeconds()
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = monthNames[months] + ' ' + days + ' - ' + hours + ':' + minutes + ":" + ' ' + ampm;
  return strTime;
}


       $.ajax({ url: "/ibeacons", success: function(data) {
            curr = data[0]
            if (curr == null){
                return  
            }
            var main = document.getElementById("base")
            sain = ""
            var date = new Date(curr.created_at)
            sain += "<h2 class='text-center workout-card-explainer' style='font-weight: 700;'>Most Recent Exercise</h2>"
            sain += "<br class='clr' />"
            sain += "<div class='workout-card col-xs-12 pull-left'>"
            sain += "<span class='text-center'><span> Exercise: </span><span class='category-result'>" + curr.exercise_name.toString() + "</span></h3><hr />"
            sain += "<span><i class='fa fa-graphic-eq'></i><span> Reps: </span><span class='category-result'>" + curr.reps_counted.toString() + "</span></span><br class='clr' />"
            sain += "<span><i class='glyphicon glyphicon-fire'></i><span> Calories Burned: </span><span class='category-result'>"+ (curr.reps_counted*0.5).toString() + "</span></span><br class='clr' />"
            sain += "<span><i class='fa fa-dumbbell'></i><span> Total Weight Lifted: </span><span class='category-result'>" + curr.weight_lb.toString() + "</span></span><br class='clr' />"
            sain +="<hr />"
            sain += "<span>"+ formatAMPM(date).toString() +"</span>"
            sain += "</div>"
            main.innerHTML = sain;
       }, dataType: "json"});


(function poll() {
   setTimeout(function() {
       $.ajax({ url: "/ibeacons", success: function(data) {
            curr = data[0]
            if (curr == null){
                var main = document.getElementById("base")
                main.innerHTML = "";
                var exercises = document.getElementById("exercises");
                var reps = document.getElementById("reps");
                var weight = document.getElementById("weight");
                exercises.innerHTML = (0).toString();
                reps.innerHTML = (0).toString();
                weight.innerHTML = (0).toString();
                return  
            }
            var main = document.getElementById("base")
            sain = ""
            var date = new Date(curr.created_at)
            sain += "<h2 class='text-center workout-card-explainer' style='font-weight: 700;'>Most Recent Exercise</h2>"
            sain += "<br class='clr' />"
            sain += "<div class='workout-card col-xs-12 pull-left'>"
            sain += "<span class='text-center'><span> Exercise: </span><span class='category-result'>" + curr.exercise_name.toString() + "</span></h3><hr />"
            sain += "<span><i class='fa fa-graphic-eq'></i><span> Reps: </span><span class='category-result'>" + curr.reps_counted.toString() + "</span></span><br class='clr' />"
            sain += "<span><i class='glyphicon glyphicon-fire'></i><span> Calories Burned: </span><span class='category-result'>"+ (curr.reps_counted*0.5).toString() + "</span></span><br class='clr' />"
            sain += "<span><i class='fa fa-dumbbell'></i><span> Total Weight Lifted: </span><span class='category-result'>" + curr.weight_lb.toString() + "</span></span><br class='clr' />"
            sain +="<hr />"
            sain += "<span>"+ formatAMPM(date).toString() +"</span>"
            sain += "</div>"
            main.innerHTML = sain;


            var exercises = document.getElementById("exercises");
            var reps = document.getElementById("reps");
            var weight = document.getElementById("weight");
            if(parseInt(exercises.innerHTML) != data[1]){
              exercises.innerHTML = (parseInt(exercises.innerHTML) + 1).toString();
              reps.innerHTML = (parseInt(reps.innerHTML) + curr.reps_counted).toString();
              weight.innerHTML = (parseInt(weight.innerHTML) + curr.weight_lb).toString();

            }
            

       }, dataType: "json", complete: poll });
    }, 4000);
})();
</script>

<!-- <button style=" text-align:center;margin:30px 0;"><%= link_to 'Press Me', ibeacons_path, :method => "POST"%></button> -->