/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 form input {
	 height: 40px;
	 border-radius: 5px;
	 width: 100%;
	 outline: none;
	 border: 1px solid #a7a7a7;
 }
 
 .sign-up-btn {
	 background-color: #0e455f;
	 border: none;
	 color: #fff;
	 box-shadow: 1px 3px 4px 1px #a7a7a7;
 }
 
 .sign-up-btn:hover {
	 box-shadow: none;
	 font-size: 15px;
 }
 
 input:focus {
	 border: 3px solid #1ea017;
 }
 
 hr.short-hr {
	 width: 300px;
 }

.footer-column {
	margin-top: 70px;
}

.footer-column p {
	color: #35536a;
	font-size: 15px;
	font-weight: bold;
}

.ez-footer-img {
	margin-top: 60px;
	width: 140px;
}

.footer .list-align {
	list-style-type: none;
	margin-left: -35px;
}

.footer .list-align li a {
	color: #000;
	font-size: 14px;
}

hr.short-hr {
	width: 240px;
}
