/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
 .nav-logo-link {
	 font-family: 'Ubuntu';
	 color: #5e16a3;
	 font-weight: 900;
 }
 
 .eztrackr-logo {
	 width: 120px;
 }
 
 .home-page_container {
	 position: relative;
	 
	 .overlay {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    color: #000;
	 }
} 
 .home-page_container h1 {
	 color: #000;
	 font-family: 'Ubuntu';
	 font-weight: 900;
	 font-size: 36px;
 }
 
 .home-page_container a {
	 color: #000;
	 background-color: #dcdcdc;
	 font-size: 50px;
	 padding: 20px;
	 border-radius: 50px;
	 box-shadow: 0px 2px 3px 0px #a7a7a7;
	 margin-top: 8%;
 }
  
 .home-page_container a:hover {
	 color: #DBA606;
	 text-decoration: none;
 } 
 form input {
	 height: 40px;
	 border-radius: 5px;
	 width: 100%;
	 outline: none;
	 border: 1px solid #a7a7a7;
 }
 
 .main-buttons {
	 margin-top: 10px;
 }
 
.sign-up-btn, .log-in-btn {
	padding: 10px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu';
}

.form-submit-btn {
	background-color: #5e16a3;
	color: #fff;
	outline: none;
	border: none;
	box-shadow: 0px 1px 2px 0px #d0d0d0;
}

.form-submit-btn:hover {
	box-shadow: none;
	background-color: #7e24d2;
}

.sign-up-btn {
	border: 2px solid #00aeee;
	color: #5e16a3;
	box-shadow: 0px 1px 2px 0px #d0d0d0;
}

.sign-up-btn:hover {
	color: #fff;
	background-color: #00aeee;
	box-shadow: none;
}

.log-in-btn {
	border: 1px solid #5e16a3;
	color: #6604a2;
	box-shadow: 0px 1px 2px 0px #d0d0d0;
}

.log-in-btn:hover {
	color: #fff;
	background-color: #5e16a3;
	box-shadow: none;
}


.next-step-container {
	margin-top: 40px;
}

.next-step-container h1 {
	font-family: 'Ubuntu';
	font-weight: bold;
	color: #5e16a3;
}

.next-step-container input {
	height: 40px;
	width: 320px;
	border-radius: 5px;
	outline: none;
	font-family: 'Ubuntu';
	border: 1px solid #000;
	margin-top: 10px;
	font-size: 13px;
	box-shadow: 0px 1px 1px 0px #d7d7d7;
}

.next-step-container input:focus {
	border: 2px solid #5e16a3;
}

.welcome-user-message {
	color: #5e16a3;
}

.user-email {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color:#6c6c6c
}

.log-out-btn {
	color: red;
	text-decoration: underline;
	font-family: 'Ubuntu';
}

.previous-workouts {
	border: 1px solid #e9e9e9;
	padding: 8px;
	height: 520px;
	overflow-y: scroll;
	margin-top: 45px;
	 background: #e317ce;
    background-image: -webkit-linear-gradient(-405deg,#00aeee ,#d71793, 0,#5e16a3 80%);
    background-image: -webkit-linear-gradient(315deg,#00aeee 0,#5e16a3 80%);
    background-image: -o-linear-gradient(315deg, #00aeee 0%, #5e16a3 80%);
    background-image: linear-gradient(135deg,#00aeee 0,#5e16a3 80%);
}

.previous-workouts .workout-card {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	height: 210px;
}

.previous-workouts-header {
	color: #fff;
	font-size: 18px;
}

.previous-workouts .card-category {
	color: #000;
	font-weight: 900;
	font-family: 'Ubuntu';
}

.previous-workouts .category-result {
	font-weight: 400;
	color: #5f5f5f;
	font-family: 'Ubuntu';
}

.previous-workouts .card-header {
	color: #5e16a3;
	font-weight: bold;
}

.previous-workouts-header .fa-plus {
	color: #fff;
}

.container .workout-card {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	height: 210px;
	box-shadow: 0px 2px 4px 0px #a7a7a7;
}

.workout-card .glyphicon-th-list {
	color: #9325d7;
}

.workout-card .glyphicon-heart {
	color: red;
}

.workout-card .glyphicon-fire {
	color: #ff5d16;
}

.workout-card .glyphicon-flash {
	color: #e0ca26;
}

.glyphicon-fire {
	color: #ff5d16;
}

.glyphicon-time {
	color: #a258e7;
}

.rest-notice {
	font-size: 18px;
}

.session-notice  {
	font-size: 20px;
}

.session-notice:hover {
	font-size: 28px;
	cursor: pointer;
}

.rest-notice:hover {
	font-size: 24px;
}

.date:hover {
	background-color: red;
}

.glyphicon-signal {
	color: #1f8406;
}

.compare-one .category-result, .compare-two .category-result {
	font-size: 18px;
}

.compare-one, .compare-two, .suggested-workout-box {
	box-shadow: 0px 2px 4px 0px #a7a7a7;
	border-radius: 25px;
}

.previous-workout {
	background-color: #e80f0f;
	color: #fff;
	border-radius: 10px;
	padding: 2px 10px;
	font-size: 12px;
}

.selected-workout {
	background-color: #14709a;
	color: #fff;
	border-radius: 10px;
	padding: 2px 10px;
	font-size: 12px;
}

.suggested-workout {
	background-color: #14880f;
	color: #fff;
	border-radius: 10px;
	padding: 2px 10px;
	font-size: 12px;
}

.suggested-workout-box .glyphicon-flash {
	color: #e0ca26;
}

.suggested-workout-box .glyphicon-heart {
	color: red;
}

.suggested-workout-box .category-result {
	font-size: 18px;
	margin-left: 60px;
}

.category-result {
	font-weight: 400;
	color: #5f5f5f;
	font-family: 'Ubuntu';
	font-size: 18px;
}

.previous-workouts a {
	color: #fff;
	font-size: 12px;
}

.footer .social-links a {
	font-size: 24px;
	margin-left: 10px;
	color: #DBA606;
}

.footer .social-links a:hover {
	color: #DBA606;
	text-decoration: none;
}





 input:focus {
	 border: 2px solid #5e16a3;
 }
 
 hr.short-hr {
	 width: 300px;
 }

.footer {
	background-color: #D0CECF;
}

.footer-column {
	margin-top: 70px;
}

.footer-column p {
	color: #35536a;
	font-size: 15px;
	font-weight: bold;
}

.ez-footer-img {
	margin-top: 60px;
	width: 140px;
}

.footer .list-align {
	list-style-type: none;
	margin-left: -35px;
}

.footer .list-align li a {
	color: #000;
	font-size: 14px;
}

hr.short-hr {
	width: 240px;
}

/* ==== Simple Calendar ==== */

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
	  background-color: rgba(52, 196, 249, 0.26);
	}
	
  .past {}
  .future {}

  .start-date {}

  .prev-month {
	  background-color: rgba(189, 189, 189, 0.23);
	}
  .next-month { 
	  background-color: rgba(189, 189, 189, 0.23);
  }
  
  .current-month {}

  .has-events {}
  
  .calendar-title {
	  font-size: 18px;
	  padding: 0px 10px;
  }
  
  a.glyphicon {
	  color: #1299fa;
	  font-size: 16px;
  }
}

.about-eztrack {
	margin-top: -18px;
}

.div-headers {
	background-color: #DBA606;
	padding: 8px;
	font-size: 24px;
	font-weight: 900;
	font-family: 'Ubuntu';
}

.learn-more-btn {
	font-size: 18px;
	font-weight: 900;
	font-family: 'Ubuntu';
	color: #000;
	background-color: rgba(220, 166, 6, 0.38);
	padding: 8px 32px;
	border-radius: 8px;
	border: 1px solid #000;
}

.learn-more-btn:hover {
	color: #000;
	font-size: 19px;
}

.about-eztrack h3.image-text {
	font-weight: 900;
	font-family: 'Ubuntu';
	margin-top: 20%;
}

.call-to-action-sign-up {
	color: #DBA606;
	font-weight: 900;
	font-family: 'Ubuntu';
	font-size: 30px;
}

.form-entry {
	height: 50px;
	width: 30%;
	margin-top: 20px;
	text-align: center;
	border-radius: 12px;
	outline: none; 
	border: 2px solid #DBA606;
}

.stats-container {

 .stat-bubble {
		margin-top: 20px;
	}
	
	 i.fa.fa-graphic-eq {
		font-size: 46px;
		color: #e0ca26;
		border: 2px solid #e0ca26;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		text-align: center;
		vertical-align: middle;
		line-height: 140px;
	}
	
	 i.glyphicon.glyphicon-fire {
		font-size: 46px;
		color: #ff5d16;
		border: 2px solid #ff5d16;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		text-align: center;
		vertical-align: middle;
		line-height: 140px;
	}
	
	 i.fa.fa-dumbbell {
		font-size: 46px;
		color: red;
		border: 2px solid red;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		text-align: center;
		vertical-align: middle;
		line-height: 140px;
	}
	
}

.workout-card {
	margin-top: 3%;
	margin-left: 5%;
	border: 1px solid rgba(166, 166, 166, 0.22);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 0px rgba(166, 166, 166, 0.22);
}

.workout-card-explainer {
	margin-top: 25%;
}

#exercises, #weight, #reps {
	font-size: 24px;
}

html {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
}

body {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
}

/* ==== End Simple Calendar ==== */

@media (max-width: 768px) {
	
	.home-page_container h1 {
		font-size: 20px;
	}
	
	.home-page_container a {
		font-size: 16px;
		padding: 12px;
		margin-top: 2%;
	}
}