@import "bootstrap-sprockets";
@import "bootstrap";

/*=========FONTS ADDED BELOW============*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Kanit:700i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700');
/*=========FONTS ADDED ABOVE============*/

.clr {
	clear: both;
}

.navbar {
	line-height: 50px;
	background-color: #fff;
	border: none;
	box-shadow: 0px 1px 2px 0px rgba(189, 189, 189, 0.23);
}

.link-spacing {
	margin-left: 40px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
}

.link-spacing:hover {
	text-decoration: none; 
	color: #fff;
	font-size: 17px;
}

@media (min-width: 769px) {
	
	.link-spacing-1 {
		margin-left: -180px;
	}
	
}

@media (max-width: 767px) {
	
	.eztracker-icon {
		margin-left: 0;
	}
}
/* loading screen */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*dot dot dot*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* loading screen completed */

.loader_frozen {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  border-bottom: 16px solid green;
  width: 120px;
  height: 120px;
   -webkit-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;

}

.saving {
  font-size: 40px;
}

.saving span {
  font-size: 50px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}