// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'PT Sans', sans-serif;
}

.hero-box {
	margin-top: -22px;
	background-image: url("heroimage.png");
	background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
}

.hero-text {
    position: absolute;
    top: 85%;
    left: 60%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.hero-text h2 {
	font-weight: bold;
}

.hero-text a {
	background-color: #8BC34A;
	color: #fff;
	padding: 20px 50px;
	border-radius: 5px; 
	line-height: 100px;
	font-size: 16px;
}

.hero-text a:hover {
	text-decoration: none;
	font-size: 17px;
	background-color: #679730;
}

.features-box {
	margin-top: 40px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.feature .fa {
	font-size: 55px;
}

.fa-heartbeat {
	color: red;
	text-shadow: 1px 1px #000;
}

.fa-tachometer {
	color: #14acb2;
	text-shadow: 1px 1px #000;
}

.about-us h3 {
	margin-top: 50px;
	font-family: 'Kanit', sans-serif;
	letter-spacing: 0.5px;
	color: #0c6499;
}

.about-us p {
	text-align: left;
	margin-top: 20px;
	font-size: 15px;
}

.card {
	background-color: #fff;
	padding: 20px;
	margin-top: 40px;
	box-shadow: 1px 4px 4px 1px #a7a7a7;
	border-radius: 5px;
	border-top: 8px solid #0c6499;
}

.card:hover h3 {
	font-size: 30px;
}

.card:hover p {
	font-size: 18px;
}

.card:hover hr {
	border: 1px solid #0c6499;
}

.menu-page {
	margin-top: -20px;
	background-color: #607D8B;
	color: #fff;
}

.user-avatar-img {
	width: 100px;
	border-radius: 50px;
}

.menu-btn {
	list-style-type: none;
	margin-top: 25px;
	background-color: #00BCD4;
	width: 80%;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	border-radius: 5px;
}

.menu-btn:hover {
	
}

ul a {
	color: #fff;
}

h4.background-name {
	background-color: #455A64;
	padding: 5px;
	margin: 0px -30px 0px -30px;
	
}

/*===I-Phone 5 =====*/
@media (max-width: 414px) {
	.hero-text a {
		padding: 20px 30px;
	}
	
	.hero-box {
		margin-top: -22px;
		background-image: url("heroimage.png");
		background-position: left center;
	   background-repeat: no-repeat;
	   background-size: cover;
	   height: 700px;
	}
	
	.hero-text {
	    position: absolute;
	    top: 55%;
	    left: 50%;
	    width: 60%;
	    transform: translate(-50%, -50%);
	    color: white;
	    font-family: 'PT Sans', sans-serif;
	}

}

@media (min-width: 768px) {
	.hero-text {
	    position: absolute;
	    top: 45%;
	    left: 50%;
	    width: 60%;
	    transform: translate(-50%, -50%);
	    color: white;
	    font-family: 'PT Sans', sans-serif;
	}
}